@import 'variables';

.jlc-graph {

  .jlc-pinned-switch {
    margin-right: 24px;

    .mdl-switch__thumb {
      background-color: lighten(rgb(33,150,243), 10%);
    }
    &.is-checked {
      .mdl-switch__thumb {
        background-color: #ffffff;
      }
      .mdl-switch__track {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  .mdl-layout__header-row {
    position: relative;
  }

  .mdl-layout__tab-bar-container {
    height: 0;
    transition: height .2s cubic-bezier(.4,0,.2,1); /*@TODO use mdl mixin */
  }

  .jlc-search {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0 16px 0 72px;
    z-index: 5;
    background: rgb(33,150,243); /* @TODO import mdl scss variables/colors */
    align-items: center;
    box-sizing: border-box;
    &-filters {
      display: none;
    }

    &-field {
      width: auto;
      flex: 1;

      input {
        border: 0;
      }

      label {
        color: rgba(255,255,255,.4);
      }
    }

    &-hide-button {
      margin: 4px;
      min-width: 48px;
      height: 48px;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.jlc-search-active {
    .mdl-layout__tab-bar-container {
      height: 48px;
    }
    .jlc-search {
      display: flex;
      &-filters {
        display: flex;
      }
    }
  }
}
