.jlc-list {

  &-item {
    position: relative;
    &-inner {
      border-bottom: 1px solid #e0e0e0;
      padding: 16px;
      margin-left: 56px;
    }
    &-title {
      font-weight: bold;
    }
    &-content {
      color: rgba(0, 0, 0, 0.6);
    }
    &-left-icon {
      position: absolute;
      top: 16px;
      left: 16px;
      width: 38px;
      height: 38px;
      font-size: 38px * 0.8;
      line-height: 38px;
    }
  }
}
