.mdl-layout__header {
  display: flex;
  .mdl-icon-toggle {
    &__label {
      color: rgba(255, 255, 255, 0.5)
    }
    &.is-checked .mdl-icon-toggle__label {
      color: #ffffff;
    }
  }
  .jlc-pinned-switch {
    margin-right: 24px;

    .mdl-switch__thumb {
      background-color: lighten(rgb(33,150,243), 10%);
    }
    &.is-checked {
      .mdl-switch__thumb {
        background-color: #ffffff;
      }
      .mdl-switch__track {
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }
}
