@import 'variables';

.jlc-nav {
  &-header {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 16px;
    .jlc-nav-profile {
      display: flex;
      &-details {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      &-name {
        font-weight: bold;
      }
    }
  }
  .mdl-navigation {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
    .mdl-navigation__link {
      display: flex;
      align-items: center;
      font-weight: bold;
      i.material-icons {
        margin-right: 24px;
        font-size: 24px;
      }
      &.is-active {
        background: #e0e0e0;
        color: rgb(33,150,243);
      }
    }
  }
}
