@import 'variables';

.jlc-profile {
  background: #ffffff;
  text-align: center;
  &-header {
    margin-top: 20px;
    padding: 20px;
  }
  &-picture {
    width: 80px;
    height: 80px;
    border-radius: 80px;
    overflow: hidden;
    display: inline-block;
    img {
      width: 100%;
    }
  }
  &-main {
    padding: 0 16px;
  }
  .mdl-textfield {
    width: 100%;
  }
  &-row {
    border-bottom: 1px solid rgba(0,0,0,.12);
    padding: 20px 0;
    text-align: left;
  }
  &-label {
  }
  &-value {
    padding: 4px 0;
    color: rgba(0,0,0,0.5);
  }
}
