@import 'variables';

.jlc-search {
  background: #ffffff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 4;
  opacity: 0;
  transform: translate(0, -100%);
  transition: opacity .3s, transform .3s;
  &.is-visible {
    opacity: 1;
    transform: translate(0, 0);
  }
  &-field {
    .mdl-textfield__input {
      font-size: 18px;
      padding: 8px 0;
    }
    .mdl-textfield__label {
      top: 28px;
      font-size: 18px;
      &:after {
        display: none;
      }
    }
  }
  &-filters {
    display: flex;
    position: relative;
    height: 48px;
    width: 100%;
    z-index: 2;
    justify-content: stretch;
    label {
      flex: 1;
      height: 48px;
      line-height: 48px;
      text-align: center;
      i {
        color: rgba(97,97,97, 0.5);
      }
    }
  }
}

.jlc-header {
  &-row {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    box-sizing: border-box;
    align-self: stretch;
    align-items: center;
    height: 64px;
    margin: 0;
    padding: 0 40px 0 80px;
  }
  &-title {
    display: block;
    position: relative;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.02em;
    font-weight: 400;
    box-sizing: border-box;
  }
}

.jlc-search__hide-button {
  display: block;
  position: absolute;
  height: 48px;
  width: 48px;
  border: 0;
  flex-shrink: 0;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  font-size: 26px;
  line-height: 50px;
  margin: 10px 12px;
  top: 0;
  left: 0;
  color: rgb(0,0,0);
  z-index: 4;
}

@media screen and (max-width: 1024px) {
  .jlc-search .jlc-search__hide-button {
    margin: 4px;
  }
  .jlc-header-row {
    height: 56px;
    padding: 0 16px 0 72px;
  }
}
