$width: 100%;
$height: 100%;
$joloblue: #009fe3;
$jolodarkblue: darken($joloblue, 20%);
$joloelectricblue: lighten($joloblue, 20%);
$jologray: #838383;
$ws: whitesmoke;
$fs_body: 13px;
$ff_default: "Roboto", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
