{
  "presets": ["react-native"],
  "plugins": [
    ["babel-plugin-inline-import", {
      "extensions": [
        ".xml",
        ".svg"
      ]
    }],
    ["react-native-platform-specific-extensions", {
      "extensions": ["ts"]
    }]
  ]
}