# General
bower_components/
node_modules/
build/
.tern-project
.expo/
package-lock.json
coverage/
.flowconfig
.buckconfig
.gitattributes
.watchmanconfig
.DS_Store
dist/
.idea

# React Native Android
android/app/JoloSmartWallet.keystore
android/.build
android/.gradle

# React Native IOS
ios/main.jsbundle
ios/main.jsbundle.map
ios/smartwallet/main.jsbundle
ios/smartwallet/main.jsbundle.map
*.pbxuser
xcuserdata/

# Haul
haul-debug.log

# Editors
.vscode/
yarn-error.log
