bower_components/
dist/
node_modules/
public/
build/
ldpc-*
data/

yarn.lock

autodeploy.js
pull_and_deploy.sh

# Python
venv/
*.pyc
.ropeproject/
*.egg-info
localhost.*
config.json


.DS_STORE
node_modules
*~
*.pyc
static
.grunt
_SpecRunner.html
__benchmarks__
build/
coverage/
.module-cache
*.gem
docs/.bundle
docs/code
docs/_site
docs/.sass-cache
docs/js/*
docs/downloads/*.zip
docs/vendor/bundle
examples/shared/*.js
examples/**/bundle.js
fixtures/dom/public/react-dom.js
fixtures/dom/public/react.js
test/the-files-to-test.generated.js
*.log*
chrome-user-data
*.sublime-project
*.sublime-workspace
.idea
*.iml
.vscode
nbproject

#local solid test server
utils/localSolidServer/
config.json
localhost.cert
localhost.key

# Cordova
app/plugins
app/platforms
app/wallet.json
app/graph.json
