# General
bower_components/
node_modules/
build/
.tern-project
.expo/
android/.gradle
*.xcodeproj/


yarn.lock
coverage/

# React Native Android
android/.gradle
android/.build

# Haul
haul-debug.log

# Editors
.vscode/
yarn-error.log

