[Desktop Entry]
Encoding=UTF-8
Name=Link to Inline image 1
Type=Link
URL=https://mail.google.com/mail/u/0/?ui=2&ik=8c9d3eb241&view=fimg&th=153e1581bf2e4697&attid=0.1&disp=emb&realattid=ii_153e15804b116c69&attbid=ANGjdJ8yJKCr9uP7Cgt7a11_4q49DP7caS86zC_pQy5wzOqRwf1-pppZ_2KYLMDGgElfb2-6sog_teSWncGDaYxGturLto06i4IyRC-F0oStpVNV3iPMxlc_syYg9Gc&sz=w1090-h1090&ats=1459774597257&rm=153e1581bf2e4697&zw&atsh=1
Icon=text-html
